# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

#Folders
builds/
Glyphs/
Probes/
Dependencies/
LVAutoSave/
AppBuilderCache/
vicnvrt/
VIObjCache/
LVInternalReports/

#programs to exclude
Testwindows10/

#Random files in labVIEW Data
*.jpg
FRCVersion.txt
persistent.ini
